!!! 5
html
	head
		!= stylesheet_link_tag('bootstrap', 'bootstrap-responsive')
		!= javascript_include_tag('https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js', 'jquery.form')
		!= javascript_include_tag('bootstrap', 'global')

		title!= title

	body
		h1!= title

		!= body